  <style>
  .loadingGIF{
    margin-left: 50%;
  }
  </style>
  
<% title "Collections | #{ENV["APP_NAME"] }" %>

<div class="fullRow" style="width:980px; margin-top: 0px">
    <div class="projectPage">

      <div class="projectTitleBar">
        <h3 class="projectHeading">
        All Collections
        </h3>

      </div>

      <div id = "ExpCollections" style="width: 100%;">
        <% if @collections.length > 0 %>
          <%= render :partial => "collections/explore_collection", :collection => @collections, as: :collection  %>
        <% else %>
          <p style="margin-left: 15px;">There are no collections...yet!</p>
        <% end %>
      </div>

      <div class="clear"></div>
      <%= will_paginate @collections, :param_name => 'collections_page', previous_label: h("Previous"), next_label: h("Next"), :page_links=> false %>

      <%= image_tag("loading.gif", :alt => "Loading...", :class => "loadingGIF") %>
    </div>
</div>

<script type="text/javascript">
  $('.loadingGIF').hide();

</script>

