// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$hovercolor: #E9E9F1;

.activity_feedPage{
  background: white;
  margin: 20px;
  padding: 5px 30px 20px 30px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  border-radius:6px;
  border: 1px solid #E2E2E2;
}

.activity_feed_header{
  text-align:center;
  margin-top:5px;
  icon{
    font-size:30px;
    color: #ccc;
  }
  h3{
    margin-top:0px;
  }
}
.activity_feed{
  margin: 5px 0px;
  margin-left:10px;
  hr{
    margin: 5px 0px !important;
    border-top-color: #BEBEBE;
  }
}

.activity_feed_activity{
  position:relative;
  min-height:25px;
  max-height:63px;
  padding:5px;
  p{
    font-family: arial;
  }

  icon{
     width:11px;
     color: #969696;
     float: left;
     margin-right:5px;
     margin-top:3px;
  }
  .fa-code-fork{
    font-size:16px;
    font-weight:bold;
  }
  .notification-heading{
    font-size:12px;
    margin-bottom:0px;
    max-width: 550px;
    max-height: 18px;
    overflow: hidden;
    display:inline-block;
    a{
      font-weight: bold;
    }
  }
  .notification-image{
    display:inline-block;
    float:left;
    margin-right:15px;
    margin-bottom:0px !important;
    margin-top: -5px;

    img, .blank-image{
      height:30px;
    }

  }
  .notification-comment{
    display:inline-block;
    width:75%;
    color: #7A7979;
    margin-top:5px;
    height:30px;
    text-overflow: ellipsis;
    overflow:hidden;
    font-size:12px;
    line-height:14px;
    margin-bottom:0px !important;
    a {
      color: #949494 !important;
    }
  }
  a{
    color: #0088cc !important;
  }
  .notification-date{
    margin-left:5px;
    position: absolute;
    top:5px;
    right:5px;
  }
  .blank-image{
    display: inline-block;
    width:40px;
    height:40px;
    background: #fff;
  }
}

#activity_feed_border {
  margin: 5px 1px 0px 10px !important;
  border-top-color: #BEBEBE;
}