// Place all the styles related to the Collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$pageWidth: 940px;
$halfPageWidth: $pageWidth/1.7;
$tooltip_color: #3fb5d9;
$lightgrey: #E2E2E2;
$lightblue: #02ABFF;

// COLLECTION PAGE

.collectionPage{
  width:890px;
	margin-top:60px;
  position:relative;
  background: white;
  // box-shadow: 1px 1px 5px #888888;
  border: 1px solid #E2E2E2;

  .collectionHeading{
    float:left;
    font-family: 'Helvetica';
    font-size:20px;
    font-weight:bold;
  }

  .collectionTitleBar{
    height:48px;
    padding: 5px 20px 0px 20px;
  }

  #collectionFilter{
    float:right;
    margin-top:15px;
    a{
      font-weight: normal;
      font-size:small
    }
  }

  #collections{
    float:left;
    width:980px;
    display:inline-block;
    position: relative;
    padding: 5px 0px 35px 20px;
    padding-bottom:35px; 
  }
}

.collectionTitle{

  width: $pageWidth;
  height:75px;
  margin-left: auto;
  margin-right: auto;

  margin-top:20px;
  box-shadow: 1px 1px 3px #888888;
  padding: 20px 20px 0px 20px;
  border-radius:5px;
  background: #fff;
  border: 1px solid #CCC;

}

.challengeAvatar{
  background: transparent; 
  border: none; 
  box-shadow: none;
  margin-left: 15px;
}

.collectionAvatarUpload {
  float: left;
  width: 105px;
  margin-top: -20px;
  margin-left: 28px;
}

input#collection_image {
  width: 175px;
}

.edit_collection{
  width:54px;
  padding: 5px 0px;
  float: left;
  .editCollectionTitleBtn {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.deleteStepButton{
  float:right;
}

.editButton{
  margin-top: 5px;
}

  #collectionLeft{
    float: left; 
    background: white;
    margin-right: 20px;
    width:300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    position: relative;

    .label{
        font-size: 14px;
        padding: 6px 4px;
        margin: 10px 0px;
    }

    .collectionsTitleSection{
    position:relative;
    display: inline-block;

    .collectionOverviewPhoto{
      width: 666px;
      height: 350px;
      float: right;
      margin-top: 0px;

      .carousel-inner{
        border: none !important;
      }

      #carousel img{
        margin-top: -50px;
      }
      .collectionOverviewCarousel{
        width: 666px;
        float: right;
        background: white;
        border-radius: 5px;
        .image_caption{
          right: 10px;
        }
        #carouselNavIcons{
          right: 136px;
          left: auto;
        }
        .carousel-control.left{
          right: 40px;
          left: auto;
        }
        .carousel-control.right{
          right: 10px;
          left: auto;
        }
      }
    }

  #collectionInfoContainer{
    height: 300px;
    background: #505050;
    padding: 25px;
     
    #collectionAvatar{
      float:none;
      position: relative;
      img{
        width: 105px;
        border: 3px solid rgba(97, 97, 97, 0.8);
      }
      #editAvatarIcon{
        position: absolute;
        top: 10px;
        left: 80px;
        font-size: 20px;
        display: none;
      }
      #uploadImageWrapper{
          position: absolute;
          top: 0;
          left: 0;
          height: 107px;
          width: 107px;
          padding: 0;
          img{
            width: 95% !important;
          }
      }
      #uploadImageWrapper > input[type="file"]{
        height: 100%;
      }
    }
    #collectionAvatar.editing:hover{
      cursor: pointer;
    }

    #collectionName{
      color: white;
      margin: 10px 0px;
      margin-left: -10px;
      border-radius: 5px;
      padding: 10px;
      font-size: 27px !important;
      line-height: 29px !important;
      #collectionNameBIP textarea{
        font-size: 20px;
        line-height: 25px;
        width: 95%;
        color: black !important;
      }
      form textarea{
        max-height: 60px;
        min-height: 60px !important;
      }
    }

    #collectionDescription{
      color: white;
      height: 50px;
      border-radius: 5px;
      padding: 10px;
      margin-left: -10px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    #collectionInfo{
      
      width: 85%;
      color: white;
      a.username{
        color: white;
      }
      icon.fa-folder-open{
        
      }
      #collectionPrivacy{
        position: absolute;
        right: 20px;
        bottom: 10px;
        button{
          border: none;
          box-shadow: none;
          text-shadow: none;
          font-size: 12px;
          a{
            color: white;
          }
          .caret{
          }
        }
      }
    }

    #editCollectionBtn{
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .collectionsText {
    height:115px;
    float: left;
    margin-left: 30px;
    width: 700px;
    position:relative;

    #collectionsName{
      position:absolute;
      top:0;
      margin:0;
      width: 600px;
      overflow:hidden;
    }

    #collectionsDesc{
      position:absolute;
      top:50px;
    }

    #collectionsInfo{
      position:absolute;
      bottom:0;
      margin:0;
    }

    #author {
      width:300px;
      float:right;
      text-align:right;
      padding: 5px 0px;
      font-size: small;
      margin-top:0px;
      margin-right:10px;
    }
  }
}

#collectionActivityFeed{
  float: left;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;

  .notification-image{
    float: left;
    margin-right: 10px;
    img{
      height: 33px;
    }
  }
  .notification-text{
    display: inline;
    float: left;
    width: 55%;
    margin-bottom: 0px;
    color: grey;
    font-size: 11px;
    a{
      color: #747474;
    }
  }
  .notification-date{
    display: inline;
    width: 25%;
    float: right;
  }

  .collection_question{
    font-size: 15px;
    font-style: italic;
    line-height: 22px;
    word-wrap: break-word;
    color: black;
    a{
      color: black;
    }
  }
  .byline{
    text-align: right;
    margin: 15px 0px;
    color: grey;
    a{
      color: grey;
    }
  }
}


  }
  #collectionRight{
    float: left;
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
  }


  .featuredProjectsTitle{
    width: 860px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 20px;
    padding-left:0px;
    margin-top: -10px;
  }

.collectionFeaturedSection{
  background-color: #fff;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  padding: 0px 0px 0px 20px;
  margin-bottom: 25px;
  width: 878px;
  overflow-x: scroll;
  overflow-y: hidden;

  #featuredProjects{
    width: auto;
    white-space: nowrap;
    margin-top: 15px;

   .delete{
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

// CHALLENGE COLLECTION PAGE

.challenge_links{
  position:absolute; 
  bottom: 45px;
  color: white;
  a{
    text-decoration: underline;
    color: rgb(255, 255, 84);
    target: "_blank";
  }
  a:hover{
    color: rgb(235, 235, 99);
  }
}

.challenge_milestones{
  width: 99.7%;
  border: 2px solid #E2E2E2;
  border-radius: 4px;
  margin-bottom: 0px;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  li{
    width: 25%;
    a{
      padding: 0;
      border: none;
      margin: 0;
      img{
        width: 100%;
        -webkit-filter: brightness(92%);
      }
    }
  }
}

.nav-tabs .active a.week1link{
    border-bottom-color: #FDEDF4;
}
.nav-tabs .active a.week2link{
    border-bottom-color: #FCF5E6;
}
.nav-tabs .active a.week3link{
    border-bottom-color: #E7F4E6;
}
.nav-tabs .active a.week4link{
    border-bottom-color: #E7F1F7;
}

.nav-tabs .active img{
  -webkit-filter:  brightness(100%);
}

.tab-content.challenge{
  width: 100%px;
  border: 2px solid #E2E2E2;
  border-top: none;
  margin-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  .tab-pane{
    padding: 10px;
  }
  #week1{
    background:#FDEDF4;
  }
  #week2{
    background: #FCF5E6;
  }
  #week3{
    background: #E7F4E6;
  }
  #week4{
    background: #E7F1F7;
  }
  a{
    text-decoration: underline;
  }
}

.add_project_form{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background: white;

  label{
    font-weight:bold;
    padding: 10px;
    background: darkgrey;
    color: white;
    margin-bottom: 0px;
    margin-right: 3px;
  }
  #project_url{
    width:425px;
    margin-top: -2px;
  }
  .addProjectButton{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
  }
}

.collectionsTitleSection.challenge{
      // border: 4px solid #7633B1;
}

#collectionsName.challenge{
    color: #7633B1
}

.addProjectContainer{
    border-bottom: 1px solid #ccc;
    height: 40px;
}

.project_url_label{
}

.collectionsProjectSection{
  position:relative;
  background: white;
  border-radius: 5px;
  padding: 5px;

  .project{
    position: relative;
    width: 182px;
    box-shadow: none;
    margin: 7px;
    overflow: hidden;

   .privacy_icon{
        float: right;
        margin-right: 10px;
    }

    .exploreRibbon-wrapper{
      height: 137px;
      .projectInfo{
          height: 20px;
          font-size: 11px;
        }
        icon{
          font-size: 15px;
        }
    }
    .project_update_text{
        position: absolute;
        top: 0;
        height: 80px;
        overflow: hidden;
        color: white;
        padding: 20px;
        background: rgba(0,0,0,0.5);
        width: 78%;
        opacity: 0.0;
        z-index: 9;
      p{
        max-height: 90px;
        max-width: 100%;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .name{
      font-size: 12px;
      max-width: 163px;
    }
    .author{
      font-size: 11px;
      max-width: 163px;
    }
  }

  .project:hover{
    box-shadow: none;
  }

  .delete{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .project_container{
    display: inline-block;
  }
}

.processBlog .projectInfo{
  width: $halfPageWidth;
  height:40px;
  box-sizing: border-box;         /* Opera/IE 8+ */
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  -webkit-box-shadow: 2px 2px 2px 2px #919191;
  box-shadow: 1px 1px 1px 1px #919191;
  padding: 0px 5px 0px 5px;
  background-color:#8B8787;
  color: #FFF;
  z-index:-100;
  float:right;
  padding-top:7px;
}

// COLLECTION FORM

#collection_description{
  width: 100%;
  font-size: 13px;
  margin-bottom: 20px;
}

#img_prev_filename {
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  text-overflow: ellipsis;
  margin-left: 32px;
  margin-top: 9px;
}

.favoriteCount, .commentCount{
  display:inline;
  float:left;
  margin-top:0px; 
  font-size:20px;
  color: #DFDF00 !important;
}

.tooltip-inner{
  background-color: $tooltip_color;
}

.tooltip.top .tooltip-arrow{
  border-top-color: $tooltip_color;
}
.tooltip.right .tooltip-arrow{
  border-right-color: $tooltip_color;
}
.tooltip.left .tooltip-arrow{
  border-left-color: $tooltip_color;
}
.tooltip.bottom .tooltip-arrow{
  border-bottom-color: $tooltip_color;
}
.tooltip.in{
  opacity: 1.0;
}

.tooltip-inner{
  background-color: $tooltip_color;
}

.tooltip.top .tooltip-arrow{
  border-top-color: $tooltip_color;
}
.tooltip.right .tooltip-arrow{
  border-right-color: $tooltip_color;
}
.tooltip.left .tooltip-arrow{
  border-left-color: $tooltip_color;
}
.tooltip.bottom .tooltip-arrow{
  border-bottom-color: $tooltip_color;
}

.tooltip.in{
  opacity: 1.0;
}

.collectionTitleBar .addCollectionButton{
  position:absolute;
  top:5px;
  right:20px;
}

.collection {
  position:relative;
  width: 306px;
  float: left;
  margin: 10px;
  background: #fff;
  box-shadow: 1px 1px 2px #B6B1B1;

  .blankImage{
  	width:270px;
  	height:181px;
  }

  .name {
    margin-top: -10px;
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    color: #000;
    max-height: 23px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a{
      color: #000;
    }
    a:hover{
      color: #7f7f7f;
    }
  }

 .author{
  padding: 0px 10px 10px 10px;
  font-size:11px;
  float: left;
  a{
    color: #000;
  }
  a:hover{
      color: #7f7f7f;
  }
}

  .authorDate{
    float:left;
  }

  .delete{
    float:right;
  }


  .actions {
    font-size: 10px;
    text-align: center;
    color: #777;
  }
}

.collection:hover{
  box-shadow: 1px 1px 2px #8A8A8A;
}

.newCollectionContainer{
  padding:40px;
}

.collection .collectionInfo{
  width:100%;
  height:30px;
  background: rgba(0,0,0,0.3);
}

.image-wrapper{
  overflow:hidden;
  height: 127px;
  border-bottom: 1px solid #ccc;
  background-color: rgb(162, 162, 162);
}

.exploreImage-wrapper {
  position:relative;
  overflow: hidden;
  height: 245px;

  .collection_avatar{
    width: 200px;
    float: left;
  }
  .collection_thumbnails{
    position: absolute;
    right: 2px;
    .collection_project{
      width: 99px;
      float: left;
      margin: 0px 1px 3px 3px;
    }
  }
  .collection_info{
    margin-top: 20px;
    .description{
      border-top: 1px solid #ddd;
      padding-top: 10px;
      margin: 0px 10px 10px 10px;
      height: 35px;
      overflow: hidden;
    }
  }

  .largeImage {
    width: 100%;
    max-height: 230px;
    border: 1.5px solid #ccc;
  }

  .uploadingImage{
      max-height: 178px;
      max-width: 237px;
      width: auto;
  }

  .mini-col-avatar {
    margin-top: -70px;
    margin-left: 197px;
    padding: 0px;
    border: none;
    box-shadow: 1px 3px 1px rgba(0,0,0,0.1);
  }
}

.challenge_icon_small{
  width:40px;
  position:absolute;
  right:10px;
  bottom:5px;
}

.challenge_icon_med{
  width:50px;
  position:absolute;
  left:-150px;
  top:-10px;
}


.challengeRibbon{
  left:180px;
  top:-222px;
  width: 150px;
  position: relative;
  font: bold 17px Sans-Serif;
  color: #fff;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  padding: 3px 0;
  padding-left:10px;
  background-color: #9A59D3;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.challengeLabel{
  position: absolute;
  bottom: -25px;
  right: -25px;
  border-top-left-radius: 3px;
  font-size: 15px;
  color: #FFF;
  padding: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9A59D3), to(#7946A6));
}

.collection.search {
  height: 322px;

  .textMatch{
    padding: 10px;
    color: gray;
    font-size: 11.5px;
  }

  .clear{
    border-top: #ddd 1px solid;
    margin: -3px 11px;
  }
}

#collectionSearchFilter {

  a {
      font-weight: normal;
      font-size:small
  }

  .btn-group {
    margin-right: -24px;
  }
}

#ExpCollections{
  .challenge{
    background: purple;
    color: white;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 170px;
  }
  .updated_at{
    font-size: 11px;
    float: right;
    margin-right: 10px;
  }
}