$lightblue: #02ABFF;

.stepftexs{
	margin-top: 10px;
}

.userComments textarea{
	width:76%;
	height:66px;
	float:left;
	padding: 2px 10px !important;
}

.userComments h5{
	font-weight:normal;
	font-size: 12px;
	outline: none;
}

.commentAvatar{
	width:65px;
	float:left;
	margin-right:10px;
}

.comment{
	padding-top:5px;
	padding-bottom:5px;
}

.submit{
	float:right;
	margin-top:10px;
	margin-bottom:5px;
}

.commentUsername{
	padding-left:35px;
	font-weight:bold;
	font-size: 12px !important;
	font-family: 'open sans' !important;
	margin-bottom: 10px !important;
}

.commentBody{
	float: left;
	overflow-wrap: break-word;
	width: 79%;

	.commentBodyText{
		overflow-wrap: break-word;
	}

	.commentBodyText a {
		color: #0088cc;
		text-decoration: underline;
		font-weight: bold;
	}

	.commentBodyText a:hover {
		color: $lightblue;
	}
}

.commentTimestamp{
	color: #9B9A9A;
	margin-top:5px;
	float:left;
}

.deleteComment{
	float:right;
	padding-top:5px;
	color: #9B9A9A;
}

.deleteComment a{
	color: #9B9A9A;
}

.stepComment{
	border-bottom: 1px solid #ccc;
	width:100%;
	display:inline-block;
	margin-left: -20px;
	padding-top: 15px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
}

.addCommentContainer{
	margin-top: 15px;
	p{
		font-family: 'open sans' !important;
		font-size: 12px !important;
		margin-bottom: 0px !important;
	}
}