// Place all the styles related to the Errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #08C;

.error_container{
	background: white repeat;
	margin: 20px;
	padding: 20px 50px 20px 50px;
	width:700px;
	margin-top: 75px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 1px 1px 3px #888;
	text-align:center;
	a{
		font-weight: bold;
		color: $blue;
	}
}