// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #08C;
$lightblue: #02ABFF;
$grey: #9B9A9A;
$darkgrey: #727272;

$orange: #EC9700;
$lightorange: #F1BE65;
$darkorange: #C78B32;

$darkred: rgba(162, 70, 70, 1);
$red: rgba(221, 12, 8,1);

.navbar{
  .badge-warning{
    position:relative;
    top:-2px;
    left:3px;
  }
  .navbar-search{
    margin-right: 0px;
  }
}

.challenge_banner{
  border-radius: 8px;
  margin: 5px 0px 15px 0px;
}

.tips_button{
  margin-right: 184px; 
  border-radius: 50px;
}

.news_announcement{
  height: 30px !important;
  width: 100% !important;
  text-align: left !important;
  padding: 0px !important;

  .news_title{
    font-size:15px;
    margin-left:6px;
    margin-right: 10px;
  }
}

.hero-unit{
  background: #F2F2F2;
  padding: 0px;
  margin-bottom: 5px;
  height: 90px;
  padding-top: 10px;
}

.hero-unit h1{
  margin-left: -5px;
  margin-bottom:10px;
  color: #3baedb;
  font-size: 45px;
}

.hero-unit .btn{
  float: right;
  margin-top: -110px;
}

.titleContainer{
  margin: -15px;
  height:30px;
  text-align:left;
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  font-weight:600;
  background: #A9E2F3;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  p{
    font-size: 13px;
  }
}

.homeSection.quarter{
  width: 35%;
  float: right;
  text-align: left;

  .updateTitle{
    float: left;
  }
    .fa-refresh{
        margin-left: 7px;
      }
      .fa-refresh:hover{
        cursor: pointer;
        color: #696969;
      }
    .byline{
      font-size: 12px;
      margin-top: 5px;
      color: $darkgrey;
      text-align: right;
      a{
        color: $blue;
        font-weight: bold;
      }
    }
    .activity_content{
      font-style: italic;
      font-size: 20px;
      line-height: 22px;
      font-weight: bolder;
      white-space: pre-wrap;
      word-wrap: break-word;
      a:hover{
        text-decoration: none;
      }

      
    }
    .recent_comment{
      margin: 5px 0px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  .newsContainer{
    text-align: left;
    padding:5px;
    .home_news_item{
      padding: 5px 0px;
    }

    .news_headline{
      font-weight: bold;
      a{
        color: $blue;  
      }
    }
    .news_icon{
      float: left;
      margin-right: 20px;
      color: #646464;
    }
    .news_description{
      margin-left: 39px;
      margin-top: -10px;
      color: grey;
      white-space: pre-wrap;
    }
    .website_news{
      margin-left: -2px;
    }
  }

  .titleContainer.half_div_title{
    width: auto;
  }
  .activity{
    min-height: 88px;
  }
}

  .homeSection.news{
    float: right;
  }

.announcementContainer{
  background: $orange;
  text-align:center;
  float:auto;
}

  .announcementContent{
    padding-top: 4px;
    word-wrap:normal;
    white-space: initial;
    float: left;

    .announcementTitle{
      padding: 10px;
      padding-right: 0px;
      background: $orange;
    }

    .announcementDescription a{
      font-weight: bold;
      color: $blue;      
    }

    .fa-bullhorn{
      color: white;
      font-size: 17px;
    }
    .news_title{
      font-weight:bold;
      color: white;
      a{
        color: white;
      }
      a:hover{
        color: white;
      }
    }
    p{
      margin-left:50px;
      margin-right:50px;
      margin-top:5px;
    }
  }
  .announcement_links{
    padding-top: 4px;

    a{
       text-decoration: underline;
        color: #A7A7A7;
        float: right;
        padding-right: 15px;        
    }
  }

.featured_projects{
  background: white;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 10px 0px;
}
.homeSection{
  padding: 15px;
  background: white;
  overflow-x:hidden;
  overflow-y:hidden;
  white-space:nowrap;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom:15px;

  .updateTitle{
    float:left;
   font-size: 15px;
  }
  .view_all_link{
    margin-right:5px;
    float:right;
    font-weight:normal;
  }
  .updates, .builts{
    display:inline-block;
  }
  .updates{
    width: 100%;
  }
}
.latestUpdates{
  width: 57%;
}

.latestProject, .userProject, .collectionDisplay {
      border: solid 1px #CCC;
      width: 100%;
      height:175px;
      float: left;
      margin: 0px 6px 0px 6px;
      background: #fff;
      position: relative;
      box-shadow: 0px 1px 1px #F1F1F1;
      overflow: hidden;

      .blankImage{
        width:100%;
        width: 150px;
        height:126px;
      }
      .name {
        width:150px;
        padding:5px 3px 2px 3px;
        height:16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space:nowrap; 
        text-align: left;
        font-weight: bold;
        a{
          color: #000;
        }
        a:hover{
          color: #7f7f7f;
        }
      } 
      .name.home{
        width: auto !important;
        overflow: auto !important;
        height: auto;
        margin-top: 5px;
        padding: 0px;
        font-size: 15px;
        a{
          color: #08C;
          padding:0;
          white-space: initial;
        }
      }

      .authorDate{
        font-size: 11px;
        padding-top:0px;
        text-align:left;
        max-width:150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a{
          color: #000;
        }
        a:hover{
          color: #7f7f7f;
        }

      }

      .delete{
        float:right;
      }


      .actions {
        font-size: 10px;
        text-align: center;
        color: #777;
      }

  }

  .latestProject{
    border: none; 
    height: auto; 
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
  }

  .userProject, .collectionDisplay{
    width: 170px;
  }

.vert-ribbon{   
    width: 15%;
    position: relative;
    overflow: hidden;
    .container{
        width: 100%;
        position: relative;
        overflow: hidden;
        .base{
          width: 100%;
          // orange gradient: rgb(07, 139, 49) to rgb(221, 12, 8); 
          background: rgb(221, 12, 8);
          background: -moz-linear-gradient(top,  rgba(162, 70, 70, 1) 0%, rgba(221, 12, 8,1) 100%);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162, 70, 70,1)), color-stop(100%,rgba(221, 12, 8,1)f));
          background: -webkit-linear-gradient(top,  rgba(162, 70, 70,1) 0%,rgba(221, 12, 8,1) 100%);
          background: -o-linear-gradient(top,  rgba(162, 70, 70,1) 0%,rgba(221, 12, 8,1) 100%);
          background: -ms-linear-gradient(top,  rgba(162, 70, 70,1) 0%,rgba(221, 12, 8,1) 100%);
          background: linear-gradient(top,  rgba(162, 70, 70,1) 0%,rgba(221, 12, 8,1) 100%);
          position: relative;
          z-index: 2;
          font-family: arial;
          color: white;
          font-weight:bold;
          text-align: center;
        }
        .left_corner{
          width: 100px;
          height: 100px;
          position: absolute;
          bottom: 25px;
          left: -50px;
          background: rgb(221, 12, 8);
          z-index: 1;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        .right_corner{
          width: 100px;
          height: 100px;
          position: absolute;
          bottom: 25px;
          right: -50px;
          background: rgb(221, 12, 8);
          z-index: 1;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
    }
  }


.userProject:hover, .collectionDisplay:hover {
    box-shadow: 0px 1px 1px #ccc
  }

.userProject, .collectionDisplay {
  margin-bottom:12px;
}

#loading{
   display:none;
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 37px; 
   bottom: 0px; 
   background-color: #F2F2F2;
   z-index: 99; /* Higher than anything else in the document */
   img{
    position:fixed;
    top:50%;
    left:-webkit-calc(50% - 30px);
    left:calc(50% - 30px);
    left:-webkit-calc(50% - 30px);
   }
}

#footer{
    display:table;
    margin: 20px auto 10px auto;
    text-align:center;
    padding: 10px;
    border-top: 1px solid #ccc;
  .footer_container{
    color: #ccc;
  }
}

.centeredContainer{
  display: table;
  width:80%;
  background: white;
  padding: 5px 30px 20px 30px;
  margin: 20px;
  margin-left:auto;
  margin-right:auto;
  border: 1px solid #E2E2E2;
  border-radius: 6px;

  a{
    text-decoration:none;
  }
}

// HELP PAGE
.fullRow.help{
  width:90%;
}

.nav-tabs{
  font-size:13px !important;
}

.nav-list{
    margin-top:20px;
    width:15%;
    float:left;
    position:fixed;
    a{
      color: $blue;
    }
    a.active{
      color: white;
      background-color:$blue !important;
    }
    .nav-header a{
      color: $darkgrey;
    }
}

.instruction_category{
    color: #999;
 }

.help .container{
  width:75%;
  margin:auto;
  margin-top:20px;
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
  float:right;
  background-color:#FFFFFF;

  h3{
    display: inline; 
    float: left; 
    margin-right: 20px; 
    font-size: 30px;
  }

  .tab-pane{
    width:100%;
  }

  .instructions{
    width:40%;
    max-width: 300px;
    margin:5px;
    padding:20px;
    vertical-align:top;
    display:inline-block;
    border-radius:5px;

    h4{
      display:inline-block;
      text-align:center;
      padding-top:15px;
      width:100%;
      max-width: 320px;
    }

    p{
      display:inline-block;
      text-align:left;
      max-width: 320px;
    }

    .help_gif{
      text-align:center !important;
    }
  }
}

.helpPage, .instructionPage{
  width:80%;
  float:right;

  h4{
    text-align:left
    span{
      position: absolute;
      top:-50px;
    }
  }
  .helpText{
    width:100%;
    float:left;
    background-color:#FFFFFF;
    p{
      float: left;
    }
  }
  .help_gif{
    float:right;
    margin-top: -25px;
    width: 300px;
  }

  .privacy_gif{
    margin-top: -185px;
  }
}

.contact_form{
  display:none;
}

// NEWS PAGE
.newsPage, .mobilePage, .documentationPage{
  width:640px;
  position: relative;
  border-radius: 5px;
  background: white;

  .carousel{
   
    .carousel-inner{

    }
    a{
      text-decoration: none;
    }
  }
  .info{
    margin-bottom: 10px;
  }
  .icon{
    float:left;
    margin-right: 10px;
    img{
      max-height:50px;
    }
  }

  ul{
    float:left;
    width:59%;
  }

  .fa-bullhorn{
    color: $blue;
  }
  .heading{
    text-align: center;
  }
  .project_link{
    font-weight:bold;
    color: $blue;
  }
  .description{
    float:left;
    width:59%;
  }
}

.documentationPage{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;

  .tip_section_title{
      font-weight: bold;
      color: $blue;
      font-size: 18px;
      margin: 10px 0px;
      margin-bottom: 20px;
    }
  .tip_container{
    width: 31%;
    padding: 0 5px;
    float: left;
    text-align: center;
    .tip_title{
      margin-top: 10px;
      min-height: 20px;
      font-weight: bold;
    }
    p{
      margin-top: 10px;
      text-align: left;
    }
    img{
      width: 200px;
    }
  }
}

  .note{
    text-align: center;
    background: $blue;
    color: white;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 10px;
    padding: 10px 50px 10px 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

.news_item .title {
  position: relative;
  span{
    position:absolute; 
    top: -85px;
  }
}

// CHALLENGE PAGE
.challengePage{
  padding: 20px;
}

// ANDROID PAGE
.mobilePage{
  width:650px;
  padding-top:20px;
  background: white;
  border: none;

  .subheading{
    margin-bottom:20px;
  }
  .app_category{
    width: 30%;
    padding: 0 50px;
  }
}

.form_container{
  background: white;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px 20px 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  border-radius: 5px;
  
  .form_heading{
    text-align: center;
    margin-top:-10px;
    margin-left:-50px;
    margin-right: -50px;
    background: #5BB75B;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 5px;
    color: #FFF;
  }
  .control-label{
    font-size: small;
    font-weight: bold;
  }
  #error_explanation{
    width: 95%;
  }
}

.mobilePage.request{
  background: none;
}

.news_item{
      width:640px;
      background: white;
      margin: 10px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom: 20px;
      padding: 20px 30px 20px 30px;
      border-radius: 5px;
      border: 1px solid #E2E2E2;
      .title{
        font-weight:bold;
        font-size:large;
        margin-bottom:15px;
      }
      .description{
        float:left;
        width:59%;
        p{
          word-wrap:normal;  
          white-space:normal;
        }
        
      }
      .images{
        width: 220px;
        float: right;
        margin-left:20px;

      }
      .created_at{
        display: inline-block;
        color: $grey;
      }
      .news_comment{
        color: $blue;
        font-weight:bold;
      }
}

.latestActivities {
  width: 57%;
  height: auto;
  text-align: left;

  .activity_feed_activity {
    margin-top: -15px;
    margin-bottom: -45px;
    min-height: 50px;

    .notification-image {
      margin-left: 5px;

      .img-polaroid {
        padding: 0px;
        width: 20px;
        height: 20px;
        
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    .notification-heading {
      max-width: 360px;
      white-space: nowrap;
      text-overflow: ellipsis;
      a{
        font-weight: bold;
      }
    }

    .notification-comment {
      display: none;
    }
  }
}

#no_activity {
  white-space: initial;
}

#carousel-featureSlides {
  width: 750px;
  height: 433px;

  .carousel-inner {
    border-radius: 6px;
    height: 433px;

    .item {
      height: 433px;
    }
  }
  video{
    width:100%;
  
  }
  .carousel-caption{
    p{
      line-height: 16px;
    }
  }
}

.featureSlidesThumb {
  margin-right: -17px !important;
  width: 150px !important;
  height: 440px !important;
  padding-left: 32px;

  .image {
    width: 137px;
    margin-bottom: 7px;
    border-radius: 10px;
    .stepImage{
      border-radius: 7px;
    }
  }
  .image:hover{
    cursor: pointer;
    img{
      opacity: 0.9;
    }
  }
  .highlight .stepImage img{
    opacity: 1.0;
  }
  .stepImage img{
    opacity: 0.7;
  }
}

.homeButton {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4db6e0;
  padding: 13px 20px 13px 20px;
  text-decoration: none;

  float: right;
  margin-top: -100px;
}

.homeButton:hover {
  background: #3baedb;
  text-decoration: none;
  color: #ffffff;
}

.grayscale {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.grayscale.disabled {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
}

.aboutPage{
  padding: 0px;
}

.aboutText{
    p{
      text-align:justify;
      line-height:22px;
      margin-bottom:20px;
      margin-top: 20px;
      text-align-last: center;
    }
    a{
      color: $blue;
    }
  .row{
    padding-left: 50px;
    padding-right: 50px;
    .span4{
      text-align: center;
      width: 260px;
      margin-left: 10px;
      margin-right: 10px;
     h4{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    img{
      height: 125px;
    }
  }
  iframe{
    margin-left: 105px;
    border-left: 3px solid black;
    border-right: 3px solid black;
  }


/* Mystery Messages Styling */
  .blue_link{
    color: $blue !important;
  }

}

.home{
  .label{
    font-size: 14px;
    padding: 6px 4px;
  }
}

///////////////////////////
//// DASHBOARD STYLING ////
///////////////////////////

#dashboard{
  hr{
    border-color: #ccc;
  }
  p{
    margin-left: 10px;
  }
  .section{
    margin-left: 50px;
  }
  .column{
    float: left;
    width: 150px;
    margin: 1px 10px;
  }
}