// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$hovercolor: #E9E9F1;

.notificationsPage{
  background:white;
	margin: 20px;
	padding: 5px 30px 20px 30px;
	width:700px;
	margin-left:auto;
	margin-right:auto;
	border-radius:6px;
  border: 1px solid #E2E2E2;
}

.notification_header{
  text-align:center;
  margin-top:5px;
  icon{
    font-size:30px;
    color: #ccc;
  }
  h3{
    margin-top:0px;
  }
}
.notifications{
	margin: 5px 0px;
	margin-left:10px;
  hr{
    margin: 5px 0px !important;
    border-top-color: #BEBEBE;
  }
}

.notifications_notification{
  position:relative;
  min-height:53px;
  max-height:63px;
  padding:5px;
  p{
    font-family: arial;
  }

	icon{
     width:11px;
     font-size: 14px;
		 color: #969696;
		 float: left;
		 margin-right:15px;
		 margin-top:3px;
	}
  .fa-code-fork{
    font-size:16px;
    font-weight:bold;
  }
	.notification-heading{
    font-size:13px;
		margin-bottom:0px;
    max-width: 496px;
    display:inline-block;
    a{
      font-weight: bold;
    }
	}
  .notification-image{
    display:inline-block;
    float:left;
    margin-right:15px;
    margin-bottom:0px !important;

    img, .blank-image{
      height:40px;
    }

  }
  .notification-comment{
    display:inline-block;
    width:75%;
    color: #7A7979;
    margin-top:5px;
    height:30px;
    text-overflow: ellipsis;
    overflow:hidden;
    font-size:12px;
    line-height:14px;
    margin-bottom:0px !important;
    a {
      color: #949494 !important;
    }
  }
	a{
		color: #0088cc !important;
	}
  .notification-date{
    margin-left:5px;
    position: absolute;
    top:5px;
    right:5px;
  }
  .blank-image{
    display: inline-block;
    width:40px;
    height:40px;
    background: #fff;
  }
}
.notifications_notification.new{
  background-color: #E0F2FD;
}

.no-notification{
  margin-left:10px;
}

li.notification-label{
  padding-left:10px;
  font-weight:bold;
  border-bottom:1px solid #ccc;
  color: #5A5858;
}

li.notification{
  width:300px;
  border-bottom: 1px solid #ccc;
  
  a{
    font-size:smaller;
    white-space:normal !important;
    display: inline-block !important;
    margin-bottom:-2px;
    padding-right:3px !important;
    padding-left:10px !important;
    width:92%;
  }
  icon{
    width:11px;
    font-size: 14px;
    color: #969696;
    float: left;
    margin-right:8px;
    margin-top:2px !important;
  }
  .fa-code-fork{
    font-weight:bold;
    font-size:14px;
  }
  .notification-text{
    font-family: 'arial' !important;
    float:left;
    margin-bottom:0px;
    width: 68%;
    max-height:36px;
    overflow:hidden;
    line-height: 15px;

  }
  .notification-image{
    display:inline-block;
    float:left;
    margin-right:10px;
    margin-bottom:0px !important;
  
      img, .blank-image{
        width: 35px;
        margin-top: 1px;
        display: inline-block;
      }
  }
  .notification-all{
    text-align:center;
    padding-top:7px;
    font-weight:bold;
    font-size:small;
    color: #7A7777;
    a:hover{
      background-color: $hovercolor;
    }
  }
}

li.notification.new{
  background-color: #E0F2FD;
}

li.notification:hover{
   background-color: $hovercolor;
   background-image: linear-gradient(to bottom, $hovercolor, $hovercolor);
}

.notification-bold{
  font-weight:bold;
  color: #0088cc !important;
}
.notification-date{
  color: #747474;
  font-size:smaller;
  margin-bottom:0px;
}

  .fa-bell.active{
    font-weight:bold;
    color: #EC9700;
  }

li.navbar_login, li.navbar_notification{
  a:hover{
    background-color: $hovercolor;
    background-image: linear-gradient(to bottom, $hovercolor, $hovercolor);
    color: #000;
  }
}

.notifications_mark_read{
  font-weight:bold;
  color: #EC9700;
}

// Mailer Styling
.notification_container{

}
.notification_avatar{

}