// Styles used for Process Map Version A
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$branchLineBorder: 4px; // width of lines used to connect stpes in the process map
$pageWidth: 940px;
$halfPageWidth: $pageWidth/1.7;
$processMapWidth: $pageWidth/2.5;
$textWidth: 400px;
$stepWidth: 150px;

$blue: #08C;
$lightblue: #02ABFF;
$lightgrey: #8B8787;
$darkgrey: #727272;
$hovergrey: #C2C1C1;
$grey: #9B9A9A;
$red: #DD5F5F;
$lightred: #D6A7A7;
$teal: #62C3E0;
$green: #5CB85C;

$orange: #EC9700;
$lightorange: #F8C66E;

// Detail View Styling //

.processBlog{
	width: 520px;
	padding:0;
	float:right;
	position: relative;
	margin-bottom: 10px;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
   	-webkit-transition: opacity .25s ease-in-out;
}

.detailViewHandle{	
	z-index: 1;
	position: absolute;
	float: left;
	width: 22px;
	padding: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #ccc;
	color: white;
	font-size: 20px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-shadow: 1px 1px #A3A3A3;
	-webkit-box-shadow: -1px 0px 1px rgba(165, 165, 165, 0.57);
	-moz-box-shadow:    -1px 0px 1px rgba(165, 165, 165, 0.57);
	box-shadow:         -1px 0px 1px rgba(165, 165, 165, 0.57);
}

.detailViewHandle:hover{
	background: $hovergrey;
	cursor: pointer;
}

.stepDetailView{
	float:right;
	overflow-x: hidden;
	overflow-y: auto;
	width:98.5%;
	p, ul{
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 20px;
		font-family: georgia;
		color: #525252;
	}
	.detailViewStepName{
		width:85%;
		float:left;
		text-align: left;
		margin-top: 15px;
		
		.name, .step_link{
			width: 98%;
			font-size: 25px;
			line-height: 30px;
			margin-bottom:0px;
			font-weight: 600;
			font-family: "open sans";
		}
		a{
			color: black;
		}
		a:hover{
			color: $darkgrey;
			text-decoration:none;
		}

		li{
			list-style-type:none;
		}
		icon{
		  font-size: 20px;
  		  margin-left: 8px;
    	  background: #DA8EA6;
    	  color: white;
    	  padding: 5px;
    	  border-radius: 16px;
    	  width: 19px;
    	  height: 19px;
		}
	}
	.detailViewStepName.labelName{
		margin-bottom: 15px;
		p{
			a{
				color: white;
			}
		}
	}
	.shim{
		width: 100%;
		float:right;
		position: relative;
	}
	pre{
		padding: 0 !important;
	}
}

.stepDetailView.stepForm{
	width: 94.5%;
}

.detailView {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 0px 20px 0px 20px;
	margin: 0px 20px 10px 20px;
	border: 1px solid #ccc;
  	float: left;
	background-color: #FFF;
	clear:right;
	border-radius: 5px;
	position:relative;
	width: 95%;
	.detailViewPhoto{
		height: 306px;
	}
	.detailViewPhoto.fullWidth{
		height: 307px;
		.mainPhoto{
			width: 109.1% !important;
		}
	}
	.mainPhoto{
		margin-left:-20px;
		width: 93.5%;
		overflow: hidden;
		height: 100%;
		border-top-left-radius: 5px;
	}
	.thumbGallery{
		img:hover{
			cursor: pointer;
		}
	}

	.emptyStepDescription{
		color: #838383;
	}
	.editButton{
		position: absolute;
		right: 20px;
		top: 318px;
	}
	.adviceContainer{
		position: relative;
	}
	.adviceContainer.answered{
		// background: $lightorange;
	}
}	

$image_width: 95%;

.image{
	width:  $image_width;
	float: left;
	margin-bottom: 5px;
	position: relative;
	.stepImage{
		overflow: hidden;
		img{
			width: 100%;
			max-width: none;
		}
		img.rotated_odd{
			width: auto !important;
		}
		img.rotated_even{
			height: auto !important;
			margin-left: auto !important;

		}
	}
}

.placeholder{
  background: #fff no-repeat center url('/assets/loading.gif');
  height: 59px;
  width: 87%;
  border: solid 1px #CCC;
  position:relative;
  padding:4px;
  display: inline-block;
  text-align:center;
  img{
    margin-top:10px !important;
  }
}

.editDetailView{
	padding-top:10px;
	padding-bottom: 10px;
	padding-left:20px;
	padding-right:10px;
	border: 1px solid #ccc;
	background: white;
	position: relative;
	overflow: hidden;
	.detailViewStepName{
		width:79% !important;
		background: transparent !important;
		margin-top: 0px;
		font-weight: 600;
	}
	.detailViewPhoto{
		margin-top: 20px;
		height: 255px;
	}
	.mainPhoto{
		width: 75%;
		height: 100%;
	}
	.rightGallery{
		width: 23%;
		padding-left: 0px;
		z-index: 0;
	}
	.thumbGallery{
		width: 104px;
		height: 225px;
		float: left;
		margin-right: 0px;
		img:hover{
			
		}
		.fa-play-circle:hover{
			cursor: move;
		}
	}
	.label_container{
		position: relative;
		min-height: 33px;
		.label{
			position:absolute;
		}
		.fa-refresh{
			position: absolute;
			left: 115px;
			font-size:16px;
			margin-right:4px;
			color: $darkgrey;
		}
		.fa-refresh:hover{
			cursor: pointer;
			color: $grey;
		}
		.prompt{
			position:absolute;
			left:137px;
			color: $darkgrey;
		}
	}
	.publishedOn{
		input{
			height: 24px;
		}
	}
	.published_on_calendar{
		margin-right:3px;
	}
	#step_published_on_time{
		margin-left: 3px;
	}
	.current_time{
		margin-left:3px;
	}
	.question_accordion, .design_accordion{
		position:relative;
		padding-bottom:10px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.question_accordion{
		border-bottom: 1px solid $orange;
	}
	.design_accordion{
		border-bottom: 1px solid $teal;
	}

	.decision_container{
		padding: 5px;
		border-radius: 5px;
		padding-left:10px;
		.hint_text{
			color: $darkgrey;
			margin-left:10px;
		}
		margin-left:25px;
		li{
			list-style-type:none;		
		}
	}
	.answered_input{
		position:absolute;
		top:5px;
		right:0;
		width:145px;
		li{
			list-style-type:none;
		}
		#step_question_attributes_answered{
			margin-right: 5px;
			margin-top: -2px;
		}
		.fa-question-sign{
			float:right;
			margin-top:-25px;
			margin-right: 10px;
			font-size: 15px;
		}
	}

	.built_section{
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
		.hint_text{
			color: #9C9B9B;
			margin-top: 9px;
			float: left;
			font-size: small;
		}
	}

	.published_note{
		color: $darkgrey;
		padding-bottom: 15px;
		font-size: 12px;
	}
	.accordion:focus{
		outline:none;
	}
	.ui-accordion-header:focus{
		outline: none !important;
	}
	textarea{
		padding: 5px !important;
	}
}

.advice_field, .design_container {
	textarea{
		width: 95%;
		height: 50px;
		margin-top: 5px;
	}
}

.design_container {
	.delete_existing_files, .upload_new_files {
		margin-right: 10px;
		padding: 7px 29px;
		overflow: hidden;
	}
	.design_file_row{
		margin: 5px 0px;
	}
	.upload_new_files {
		margin-top: 5px;
		margin-bottom: 10px;
		margin-left: 30px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 0px;
		background-color: #efefef;
		border-radius: 5px;
	}
	.design_file_upload_fieldset{
		position: relative;
		width: 100%;
		height: 40px;
		#uploadDesignFileWrapper{
			position: absolute;
			overflow: hidden;
		}
		#uploadDesignFileWrapper > input[type="file"]{
			position: absolute;
			top: 0;
			left: 0;
			opacity:0;
			font-size: 90px;
		}
		#uploadDesignFileWrapper:hover > input[type="file"] {
			cursor: pointer;
		}
		#uploadDesignFileWrapper:hover{
			cursor: pointer;
		}

	}

	.design_file_header {
		text-align: center;
	}

	.design_file_entry {
		padding: 5px 0;
	}

	.hiddenFields {
		display: none;
	}

	hr {
		margin: 10px;
	}

	.remove_fields {
		float: right;
	}

	.add_design_file {
		margin-top: 10px;
		text-align: center;
	}
	.design_file_upload_fieldset{
		label{
			max-width: 250px;
			display: inline;
			text-overflow: ellipsis;
		}
	}
}

.viewModes{
	float: left;
	bottom: 35px;
	position: fixed;
	z-index: 1;
	.mode{
		border-radius: 3px;
		background-color: lightgrey;
		padding: 7px;
		border-bottom: 1px solid white;
		color: white;
		icon{
			font-size: 20px;
		}
	}
	.mode:not(.selected):hover{
		background-color: rgb(200, 200, 200) ;
	}
	.selected{
		background-color: #62c3e0;
	}
	.selected:hover{
		background-color: #59B4CF;
	}
}

.projectOverview{
	padding:0px !important;

	.editButton{
		margin-right:10px;
		margin-top:-35px;
		position:relative;
	}
	.projectOverviewName{
		margin-left:20px !important;
		margin-top: 5px !important;
		background: transparent !important;
		padding-left:0px !important;
		width:517px !important;
		a{
			color: black !important;
		}
	}
	.detailViewText p{
		margin-left:20px;
	}
	.emptyProjectOverviewDescription{
		color: #838383;
	}
	.projectOverviewPhoto{
		margin: 0px auto !important;
		float: none !important;
		padding: 0px !important;

	}
	.userComments{
		margin-left: 20px !important;
		width: 90% !important;
	}
	.projectOverviewCarousel{
		float: none !important;
		width: 539px !important;
		margin-left:auto;
		margin-right:auto;
		.carousel-inner{
			height:275px;
			.item{
			  opacity: 0;
			  -webkit-transition-property: opacity;
			  -moz-transition-property: opacity;
			  -o-transition-property: opacity;
			  transition-property: opacity;
			}
			.flex-video a{
				height:60%;
			}
			video{
			  width: 100%;
			  background: black;
			}
			.active{
				opacity: 1;
			}
			.active.left, .active.right{
				left:0;
				opacity:0;
				z-index:2;
			}
			.next.left, .prev.right{
				opacity:1;
			}
		}
	}	
}

.detailViewStepDate{
	width: 80%;
	float:left;
	margin-top: 15px;
	color: #9B9A9A;
	padding: 0px 0px;
}

.detailViewStepAuthors{
	float: left;
	color: $lightgrey;
	margin-top: 3px;
	width: 90%;
	font-size: smaller;
	line-height: 12px;
	a{
		color: $lightgrey;
	}
}

#detailViewNumSteps{
	width:100px;
	height:30px;
	float:right;
	text-align:right;
	font-size: small;
	padding: 0px 0px;
}

#detailViewPhoto{
	position: relative;
	height: 276px;
	padding-right:0px;
	float:left;
	margin: 10px 0px;
	margin-top: 0px;
}


.detailViewText{
	width:100%;
	display:inline-block;
	font-size:12px;
	line-height:150%;
	padding: 0px;
	margin: 10px 0px 0px 0px;
	overflow-x: hidden;

	p{
		a{
			color: $blue !important;
			text-decoration: underline !important;
			word-wrap: break-word;
		}	
		a:hover{
			color: $lightblue !important;
		}
	}
	li{
		line-height: 24px;
		margin-bottom: 10px;
	}

}

.questionContainer{
	position: relative;
	
	.textHeading{
		font-size:15px;
		font-weight:bold;	
		color: white;
		padding:0px 10px;
		margin-top:0px;
		height:27px;
		line-height:24px;
	}
	.text{
		margin: 10px;
		float:left;
	}
	.answered_checkbox_container{
		font-size:small;
		position: absolute;
		top:0;
		right:0;
		padding: 4px;
		padding-right:0px;
		font-weight: bold;
		border-top-left-radius: 5px;
	}
}

.ribbonHeader{
	color: #FFF;
	position: relative;
	background: #EC9700;
	padding: 5px;
	margin-top: 0px;
	margin-left: -40px;
	margin-bottom: 10px;
	clear: both;
	float: left;
}
.ribbonHeader.decision{
	background: $green;
}
.ribbonHeader.design{
	background:  $teal;
}

.ribbonTitle{
	padding: 5px 0px 4px 0px;
	font-weight: bold;
	margin-left: -20px;
	padding-left: 20px;
	width: 100%;
	padding-right: 20px;
}

.ribbonTitle.question{
	color: $orange;
	border-bottom: 1px solid $orange;
}
.ribbonTitle.question.answered{
	margin-left: 0px;
	padding-left: 0px;
}
.ribbonTitle.decision{
	color: $green;
	border-bottom: 1px solid $green;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 10px;
}

.ribbonTitle.design{
	color: $teal;
	border-bottom: 1px solid $teal;
	margin-top: 10px;
}

.projectOverview .adviceContainer{
	margin-left:20px;
	margin-right:20px;
}

.decisionContainer{

	a {
		color: #0088cc;
		text-decoration: underline;
		font-weight: bold;
	}

	a:hover {
		color: $lightblue;
	}
}
.projectOverview .decisionContainer{
	margin-left:50px;
	margin-right:20px;
}

.editButtons{
	width: 91.7%;
	height:30px;
	float:right;
	z-index:1000;
	background: #A2A2A2;
	padding: 7px;
	padding-top: 8px;
	padding-bottom: 5px;
}

.editButtons.top{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 0px;
	margin-right: 8px;
	width: 90.2%;
}

.editButtons.top.newLabel{
	width: 91.8%;
	margin-right:0;
}

.editButtons.bottom{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 97%;
	padding-left: 7px;
	margin-bottom: 5px;
}

.deleteButton{
	float:left;
}

.deleteStepButton{
	margin-top: 10px !important;
}

.submitButtons{
	width:auto;
	float:right; 
	text-align:right; 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.clear{
	 	clear: both;
}

.test{
	height: 50px;
	text-align:left;
}

.stepForm{
	.stepPin{
		margin-top: 23px;
		.dropdown-menu{
			width: 90px !important;
			min-width: initial !important;
			.row-fluid{
				width: 100%;
			}
		}
		li{
			text-align: center;
			a{
				display: block;
				width: 100%; 
				height: 100%;
			}
		}
		li:hover{
			background: $lightblue;
			cursor: pointer;
			icon{
				color: white;
			}
		}
		li.selected{
			background: lightgrey;
		}
		icon{
			padding:5px;
			font-size: 15px;
		}
		icon.instructions{
			font-size: 11px;
		}
	}
	#detailViewPhoto{
		margin-bottom:0px !important;
	}
	#step_timeZone_input{
		display:none;
	}
	.label_checkbox{
		width: 80px;
		float: left;
		padding-left: 0px;
		margin-top: 32px;
		margin-left: -30px;
		li{
			list-style-type: none;	
		}
	}
	.color_picker{
		position: relative;
		margin-top: 30px;
		list-style-type: none;
		float: right;
	}
	.simplecolorpicker.picker{
		position: absolute;
		top: 20px !important;
		left: -5px !important;
		max-width: none !important;
		min-width: initial !important;
		margin-left: -82px;
		width: 110px;
	}
	.color{
			width: 17px;
	}
}

.ui-datepicker {
	z-index: 100 !important;
}

.datepicker{
	width:100px;
}

.current_time{
	margin-top:-10px;
}

.fa-calendar:hover{
	cursor:pointer;
}

.bootstrap-timepicker-widget{
	position:absolute;
	top:-135px;
}
.bootstrap-timepicker-widget.dropdown-menu:after, .bootstrap-timepicker-widget.dropdown-menu:before{
		display:none !important;
}

.userComments{
	float:left;
	padding-top:0px;
	margin-top:10px;
	width: 100%;
	border-top: 1px solid rgb(225, 225, 225)
}

.formStepName{
	float:left;
}

.formLastStepCheck{
	float:left;
	margin-top: 5px;
	font-family: 'open sans';
	li{
		list-style-type: none;
		label{
			display: hidden;
		}
	}
}

.accordiong h5{
	color: black;
}
.accordion h5:hover{
	color: #0769AD;
}

.lastStepHelp{
	float:left;
	font-size:15px;
	margin-top: 5px !important;
	margin-left: 5px;
}

#step_last_input{
	float: left;
	width: 25px;
	label{
		padding-top:7px;
	}
}

.category_icon {
	font-size: 2em;
	margin-top: -50px;
	display:inline-block;
	max-width: 30px;
	min-height: 30px;
	margin-right: 5px;
	img{
		max-height: 100%;
	}
}

.edit_categories {
	margin: 0;

	a {
		color: white;
	}
	a:hover{
		color: rgb(236, 236, 236);
		cursor: pointer;
	}
}

// image captioning styling
.carousel-caption, .fancybox-desktop{
	color: #fff;
	opacity: 0.8;

	a{
		color: #41BFE5; 
		font-weight:bold;
	}

	a:hover{
		color: #A9E2F3;
	}
}

// NEW PROJECT PAGE STYLING
#projectInfoContainer{
	width: 275px;
	padding: 0px 20px;
	background: rgb(76, 76, 76);
	color: white;
	position: absolute;
	top: 73px;
	left: 50px;
	box-shadow: 1px 3px 3px #C6C6C6;

	#projectNameContainer{
      display: inline-block;
      border-radius: 5px !important;
      width: 95%;
      background: white;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }
      #projectName{
      width: 100%;
      color: #fff;
      font-size: 27px;
      overflow-x: hidden;
      padding: 10px;
      overflow-y: hidden;
      margin: 0px;
      line-height: 35px;
      border-radius: 5px;
      a{
        color: white;
      }
      a:hover{
        text-decoration:none;
      }
    }
    .bip_title textarea{
      font-size: 20px;
      line-height: 25px;
      width: 95%;
    }

    #projectAuthor {
      margin-left: 10px;
      padding-right: 0px;
      color: white;
      border-radius: 5px;
      font-size: 11px;
      position: relative;

      .authorAttribution{
        float: left;
      }
      a{
        font-weight: bold;
        color: $teal;
      }
    }
    .edit_categories{
    	display: inline;
    }
    #projectOverviewDescription{
    	margin-left: 10px;
    	margin-top: 15px;
    	margin-bottom: 25px;
    	.project_description{
    		margin-bottom: 20px;
    		font-family: georgia;
    		font-size: 14px;
    		line-height: 22px;
    		span{
    			color: white;
    		}
    	}
    }
    .project_buttons{
    	float: right;
    	display: inline;
    	.fa{
    		font-size: 15px !important;
    	}
    }

    .projectInfo{
    	position: absolute;
    	bottom: 0;
    	.projectInfoDiv{
    		position: absolute;
    		bottom: 0;
    	}
    	.count{
    		margin-top: 3px;
    	}
    	.remixCount{
    		margin-left: 0px;
    	}
    	.counter{
    		margin-top: 3px;
    		margin-right: 0px;
    	}
    	.projectFavorite{
    		left: 0px;
    		background: rgba(56, 56, 56, 0.8);
    	}
    	.projectComment{
    		background: rgba(56, 56, 56, 0.8);
    		left: 55px;
    		border: none;
    	}
    	.projectRemix{
    		background: rgba(56, 56, 56, 0.8);
    		padding-left: 5px;
    	}
    }
    .projectPrivacy{
    	bottom: 3px;
    }
    .category_icon{
    	font-size: 1.5em;
    	img{
    		max-width: 80%;
    	}
    }
}

#projectNameNode{
  color: white;
  background: black;
  padding: 8px;
  display: inline;
  border: 3px solid #F2F2F2;
  font-size: 12px;
  text-transform: uppercase;
}

#projectNameNode:hover{
	cursor: pointer;
	border: 3px solid #7a7a7a;
}

#processMap{
	width: 99.5%;
	position: relative;
	font-size: medium;
	float:left;
	color: #000;
	margin: 0px 5px 0px 5px;
	overflow: auto;
	#processMapInstructions{
		background: #5D93C6;
		font-weight: 11px;
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.13);
		left: 35px;
		top: 15px;
		z-index: 1000;
	}
	.processMapButtons{
		position: absolute;
		left: 30px;
		top: 20px;
		z-index: 50;
		width: 40px;
		font-size: 11px;
	}
	#chart{
		overflow: visible;
		min-height: 100%;
		margin-left: 85px;
		margin-top: 30px;
		width: 92%;
	}
}


	#infoContainer{
		position: absolute;
		top: 85px;
		right: 50px;
		z-index: 1;
	}

	#infoContainer.edit, #infoContainer.new{
		top: 50px;
	}

	#chart{
		margin-top: 10px;
	}
	#projectInfoContainer:hover{
		opacity: 1;
	}
	#projectInfoContainer{
		width: 457px;
		z-index: 1;
		background: white;
		color: black;
		box-shadow: none;
		opacity: 0.9;
		transition: opacity .25s ease-in-out;
    	-moz-transition: opacity .25s ease-in-out;
    	-webkit-transition: opacity .25s ease-in-out;
		position: initial;
		box-shadow: rgba(0, 0, 0, 0.24706) 0px 0px 2px 0px;
		#projectNameContainer{
			background: white;
			width: 101%;
			margin-top: 10px;
			margin-left: -17px;
			padding: 5px 15px;
			#projectName{
				color: black; 
				font-weight: 600;
				padding: 0;
			}
		}
		#projectAuthor{
				color: black;
				padding: 0;
				margin-top: 5px;
				margin-left: 0px;
				margin-bottom: 15px;
		}
		.editCategories:hover{
			cursor: pointer;
		}
		#projectOverviewDescription{
			padding: 0;
			margin: 10px 0px;
		}
		.bip_description.new{
			color: grey !important;
		}
		.bip_description textarea{
        	font-size: 12px;
        	line-height: 18px;
        	width: 95%;
      	}
		.project_description{
			  margin-left: -17px;
  			  padding: 17px;
  			  border-radius: 5px;
  			  margin-right: -17px;
		}
		.project_description span{
			color: black !important;
		}
		.projectInfo{
			background: grey;
			width: 109%;
			height: 25px;
			margin-left: -20px;
			position: initial;
			.projectInfoDiv{
				float: left;
				position: initial;
				position: block;
				max-height: 30px;
				background: transparent;
				max-width: 50px;
			}
			.projectPrivacy{
				position: initial;
				float: right;
				.dropdown-menu{
					right: 0 !important;
					left: auto !important;
				}
			}
			.count{
				font-size: 15px;
			}
			.counter{
				font-size: 11px;
			}
		}
		.category_text{
			font-size: 10px;
		}
		.edit_categories a{
			color: grey;
		}
		.dropdown-menu{
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) !important;
			border-radius: 0 !important;
		}
		.comment-list{
			margin-top: 25px;
			padding: 0;
			width: 312px;
			.comment-list-title{
				width: 240px;
			}
			.comment-list-item{
				height: 50px !important;
				.comment-list-title{
					height: 38px;
					p{
						font-size: 11px !important;
					}
				}
			}
		}

	}
	.projectInfoDiv{

		.counter{
			color: white;
		}
		.commentCount{
			margin-left: 5px;
			margin-top: 1px !important;
		}
		.remixCount{
			margin-left: 10px;
			margin-top: 8px;
		}
		.remixCounter{
			margin-left: -3px;
		}
	}
	.projectPrivacy .btn-group{
			height: 24px;
			button{
				background-color: transparent !important;
			}
	}
	.stepDetailView{
		float: none;
		width: auto;
		z-index: 1000;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.13)
	}
	.item{
		width: 99.5%;
	}

	.detailView{
		box-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 2px 0px;
		width: 497px;
		border-radius: 0;
		display: none;
		border-top: 0px;
		z-index: 1001;
		.mainPhoto{
			border-radius: 0;
		}
		.editButton{
			top: 320px;
		}
	}
	#projectTitleBar.overview{
		color: white;
		border-top: 10px solid #F2F2F2;
		.projectName{
			color: white;
		}
	}
	#projectTitleBar{
		border-top: 10px solid #F2F2F2;
		background: #373737;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		font-size: 10px;
		/* ...and now for the proper property */
		transition:.5s;
		color: white;
		width: 485.5px;
		padding: 7px;
		position: absolute;
		right: 48px;
		text-transform: uppercase;
		z-index: 10;
		icon{
			padding: 0px 5px;
			font-size: 18px;
		}
		icon:hover{
			cursor: pointer;
		}
		.names{
			max-width: 85%;
			max-height: 18px;
			float:left;
			overflow: hidden;
		}
		.projectName{
			float: left;
			opacity: 0.8;
			color: rgb(195, 195, 195);
			display: inline;
		}
		.projectName:hover{
			cursor: pointer;
			opacity: 1.0;
			color: white;
		}
		.stepName{
			float: left;
			margin-left: 5px;
		}
		.fa:hover{
			color: lightgrey !important;
		}
	}
	#projectTitleBar:hover{
		cursor: pointer;
	}
	.detailView{
		margin: 0px;
	}
	.detailView.current{
		display: block;
	}


 .new_step_instructions.visible{
 	width: 30%; top: 50px; left: 50px;
 	z-index: 1000;
 }

.processBlog{
	position: absolute !important;
	top: 50px;
	right: 50px;
	z-index: 1;
	margin-bottom: 0px;
	.label{
		font-weight: normal !important;
	}
	.editButtons{
		background: #373737;
	}
	.editButtons.top{
		border-radius: 0;
		width: 97.5%;
		margin-right: 0;
	}
	.editButtons.bottom{
		border-radius: 0;
	}
	.stepForm{
		width: 100%;
	}
}
.step_title{
	position: absolute;
	font-size: 11px;
		bottom: 0px;
		right: 2px;
		color: white;
		background: black;
		opacity: 0.8;
		padding: 7px;
		border-top-left-radius: 5px;
		max-width: 96%;
		overflow: hidden;
		a{
			color: #62c3e0;
			font-weight: bold;
		}
}

#mobileProcessMap{
	position: relative;
	width: 99%;
	.tooltip{
		display: none !important;
	}
	.stepLabel{
		font-weight: 100;
		font-family: sans-serif;
	}
}

#feedback_button{
    position: absolute;
    right: -30px;
    bottom: 60px;
    transform: rotate(-90deg);
    background: darkgrey;
    color: white;
    text-shadow: none;
}

#feedbackModal{
	.modal-body{
		height: 250px;
		overflow: hidden;
	}
}

// TOUR STYLING

#welcomeModal {
  top:25%;
}
.about_container{
  width: 32.9%;
  position: relative;
  display: inline-block;
  text-align: center;
  img{
  	width: 100px;
  }
  .about_description{
  	position: absolute;
  	top: 10px;
  	display: none;

  }
}
#optionsModal {
  top:30%;
  left:27%;
}

.endButton{
	float: left !important;
	margin-right: 10px;
}

.tour-tour-0 .closeButton{
	display: none;
}

.tour-tour-2 .nextButton{
	display: none;
}

.delete_project_text_area{
	width: 97%; 
	height: 20px;
}