.tab-pane{
	.empty{
		text-align: center;
		margin-top:15px;
	}
}

.userProfile{
	width:250px;
	min-height: 450px;
	max-height:685px;
	margin-top:20px;
	float:left;
	position: relative;
	padding: 20px 20px 0px 20px;
	border-radius:5px;
	background: #fff;
	border: 1px solid #CCC;
	position: relative;

	#userAvatar{
		width:185px;
		height:185px;
		margin-bottom:20px;
	}
	#username{
		margin: 10px 0px 0px 0px;
	}

	#about_me{
		margin: 10px 0px;
	}
}

.profile_category_icon {
	font-size: 2em;
	padding: 0px 5px;
	display:inline-block;
	max-height: 30px;
	img{
		max-width: 30px;
	}
}

.category_count {
	margin-left: 7px;
	margin-top: 2px;
}

.projectSideArea {
	width: 615px;
	min-height:470px;
	max-height: 665px;
	margin-top:20px;
	float:right;
	overflow:auto;
	padding: 0 10px;

	.nav {
		margin-left: 25px;
		border-bottom:0px;
	}

	.nav-tabs > li > a {
		width: 152px;
		text-align: center;
		font-weight: bold;
		border: 1px solid #ccc;
		background-color: #ddd;
	}

	.nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
		background-color: #a7e2f4;

     }

	.tab-content {
		margin-top: -20px;
		overflow-x:hidden;
	}

	.addProjectButton, .addCollectionButton {
		margin-left: 27px;
		float: left;
	}

	.userProjects, .userFavorites, .userCollections {
		width:600px;
		float:left;
		margin-right:15px;
		position:relative;
		padding-bottom:10px;
		margin-bottom: 25px;

		.userProjectsContainer, .userFavoritesContainer, .userCollectionsContainer {
			width:570px;
			padding: 20px;
			margin-left: auto;
			margin-right: auto;
			margin-top: -10px;
		}
		.authorDate{
			margin-left: 6px;
		}

		.delete{
			display: inline;
			position:absolute;
			top: 90px;
			left:115px;
			padding: 5px;
			i{
				padding: 3px 10px 5px 10px;
			}
		}

		.no_favorites, .no_projects, .no_collections {
			text-align: center;
			padding: 5px 20px;
		}
		.pagination a{
			background: #3fb5d9;
    		color: white;
    		padding: 5px 14px;
    		border-radius: 5px;
		}
		.pagination a:hover{
			color: white;
		}
	}
	.userFavorites, {
		margin-top: 20px;
	}
	.userFavorite, .userComment, , .userSteps, .userRemix, .collectionProjects {
		float:left;
		height:24px;
		color: #fff;
	}
	.collectionProjects {
		margin-left: 8px;
	}
	.userComment{
		left:37px;
	}
	.userRemix{
		left:74px;
	}
	.userSteps{
		margin-left: 7px;
	}
	.userFavorite .fa-star, .userComment .fa-comment, .userRemix .fa-code-fork{
		font-size:16px;
	}
	.userFavorite .fa-star{
		color:  #DFDF00;
		padding-left:5px;
	}
	.userComment .fa-comment{
		padding-left:7px;
		color: #A9E2F3;
	}
	.userSteps .fa-square{
		color: #EAEAEA;
		font-size: 14px;
	}
	.userRemix .fa-code-fork{
		padding-left:9px;
		color: #B2D234;
		font-weight:bold;
	}

	.count{
		font-size:11px;
		color:grey;
	}

	.userFavorite .count{
		padding-left: 0px;
	}
	.userComment .count{
		padding-left:0px;
	}

	.count{
		font-weight:normal;
	}

	.privacy-icon{
		position: absolute;
		right: 15px;
		bottom: 5px;
		color: grey;
		font-size: 17px;
	}

}

.followSideArea {
	width: 516px;
	height: 60px;
	float:left;
	margin-top:20px;
	margin-bottom: -10px;
	margin-left: 48px;
	overflow:auto;
	border: 1px solid #ccc;
	border-radius:5px;
	background-color: white;
	padding: 0 10px;

	#following, #followers, #follow {
		width: 150px;

		p {
			font-variant:small-caps;
			color: gray;
		}


	}

	#following:hover, #followers:hover {
		p, a, h4 {
			color: rgb(59, 174, 220);
		}
	}	
}

.userFollowSideArea {
	width: 516px;
	height: 378px;
	margin-top:20px;
	margin-bottom: -10px;
	margin-left: 48px;
	float:left;
	border: 1px solid #ccc;
	border-radius:5px;
	background-color: white;
	padding: 10px 10px;

	hr {
		margin-bottom: 0px;
	}
}

.allProjects{
	position:relative;
	margin-bottom:20px;

	.addProjectButton, .addCollectionButton {
	  margin-top:-1px;
	  float:right;
	  margin-right:0px !important;
	}

	.pagination{
		bottom: -25px;
		right:35px;
		border-radius: 6px;
	}
}

// Devise registration styling
.validation{
	width:218px;
	background: #C96969;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	padding-left:10px;
	padding-bottom:3px;
	color: #fff;
	display:none;
}

.followTable {
	margin-left: 25px;
	margin-top: 10px;
}


.followButton, .unfollowButton {
	float: right;
	margin-right: -22px;
	margin-top: -1px;
	width: 73px;
}

.userFollowDisplay {
	width: 254px;
	margin-top: 30px;
}

.userFollowAvatar {
	width: 65px;
}

.followerText {
	margin-top: -10px;
	width: 130px;

	h5 a {
		color: gray;
	}

	h5 a:hover {
		color: #666;
	}
}

.users_follow_form {
	float: left;
	margin-top: 20px;
}

.no_follows {
	margin-top: 50px;
}

#followers {
	padding-left: 12px;
}

.followTitle {
	text-align: center;
	margin-top: 10px;
	margin-bottom: -10px;
}

#following_count, #followers_count {
	margin-bottom: 0px;
}

#following_count, #following_count_sub {
	margin-left: 8px;
}

#followers_count, #followers_count_sub {
	margin-left: 31px;
}

#follower_last_seen {
	font-size: 0.9em;
}

.userAllFollows {
	height: 320px;
	overflow-y:scroll;
}

.projectViewAllTitleBar{
	margin-top: 35px;
}

.projectViewAll {
	float: left;
	width: 940px;
	.allProjects {
		width: 940px;
	}
}

.projectViewAllHeading {
	float: left;
	font-family: 'Open Sans';
	margin-left: 25px;
	margin-bottom: 30px;
}

.projectViewAllAvatar {
	width: 60px;
	float: left;
	margin-left: -30px;
}

.viewAll {
	left: 26px !important;
	right: auto !important;
}

.user-search {
  position:relative;
  width: 270px;
  height: 285px;
  float: left;
  margin: 10px;
  background: #fff;
  box-shadow: 1px 1px 2px #B6B1B1;

  .user-search-heading {
  	margin-left: 10px;
  	.counts {
  		color: gray;
  		margin-top: -10px;
  		margin-bottom: 10px;
  	}
  }

  .user-search-images {
  	padding-bottom: 25px;

	  .user-search-avatar {
	  	margin-left: 10px;
	  	width: 37.5%;
	  	img {
	  		max-width: 115%;
	  	}
	  }

	  .user-search-projects {
		margin-top: -114px;
		margin-left: 131px;
		margin-right: 3px;
	  	img {
	  		padding: 3px;
	  		width: 50px;
	  		height: 50px;
	  	}
	  }
  }

  .textMatch{
    padding: 10px;
    color: gray;
    font-size: 11.5px;
  }

  .clear {
    border-top: #ddd 1px solid;
    margin: -3px 11px;
  }

  .search-follow-form {
  	height: 20px;
  	a {
  		float: right;
		margin-left: 7px;
		margin-top: -20px;
		margin-bottom: 12px;
		width: 231px;
  	}
  }
}