<% title "Notifications" %>
<div class="fullRow" style="margin-top:60px">
  	<div class="notificationsPage">
  		<div class="notification_header">
			<icon class="fa fa-bell"></icon><h3>Notifications</h3>
		</div>

		<% if current_user.all_notifications.count == 0 %>
			<p>
				No notifications...yet!
			</p>
		<% else %>
			<div class="notifications">
			<% @notifications.each do |notification| %>
				<% if notification.trackable %>
					<% unless (render_activity notification).blank? %>
						<% if !notification.viewed || (@new_notification_ids.include? notification.id) %>
							<div class="notifications_notification new">
						<% else %>
							<div class="notifications_notification">
						<% end %>									
						<%= render_activity notification, source: "notifications" %>
						</div>
						<hr>
					<% end %>
				<% end %>
			<% end %> <%# end notifications loop %>
	<% end %>

	</div>
	<%= will_paginate @notifications, :param_name => 'notifications_page', previous_label: h("← Newer"), next_label: h("Older →"), :page_links=> false %>
</div>

    


<script type="text/javascript">
$(document).ready(function(){

	// apply ellipsis to paragraphs that overflow the notification-comment div
	var line_height = 18;
	
	$('.notification-heading').each(function(){
		var heading_height = $(this).height();
		var lines = heading_height/line_height;
		if (lines==2){
			$(this).closest('.notifications_notification').children('.notification-comment').css("height", "20px");
		} else if (lines>2) {
			$(this).closest('.notifications_notification').children('.notification-comment').hide();
		} 
		$(this).closest('.notifications_notification').children('.notification-comment').ellipsis();
	});

});
</script>