// Styles used for Process Map Version A
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$branchLineBorder: 4px; // width of lines used to connect stpes in the process map
$pageWidth: 940px;
$halfPageWidth: $pageWidth/1.7;
$processMapWidth: $pageWidth/2.5;
$textWidth: 400px;
$stepWidth: 150px;

@font-face{
 	font-family: 'Sketch Rockwell';
 	src: asset-url('sketchrockwell-bold-webfont.eot', font);
 	src: asset-url('sketchrockwell-bold-webfont.eot', font) format('embedded-opentype'),
 		 asset-url('sketchrockwell-bold-webfont.woff', font) format('woff'),
 		 asset-url('sketchrockwell-bold-webfont.ttf', font) format('truetype'),
 		 asset-url('sketchrockwell-bold-webfont.svg', font) format('svg');
 	font-weight:normal;
 	font-style:normal;
 }

 .logo{
 	width:32px;
 	margin-top:-5px !important;
 	margin-right:-5px !important;
 	img{
 	}
 }

body{
	margin: 0 0;
	padding: 0 0;
	height: 100%;
	background-color: #F2F2F2;
	color: #000;
	font-family: "Open Sans", "Verdana";
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#main{
	opacity: 0;
}

html{	
	margin: 0 0;
	padding: 0 0;
	background-color: #F2F2F2;
	color: #000;
}


p{
	margin-top:0px;
	margin-bottom: 10px;
	font-size: small;
	color: #000;
}

h4{
	margin-top: 0px;
}

tr, td{
	line-height:0;
	padding:0;
	margin:0 ;
}

textarea{
	resize: none;
}

#main{
	margin-top:40px;
}

// Bootstrap Styling

.navbar{
	position:fixed;
	right:0;
	left:0;
	top:0;
	z-index: 100;
	// background-color: #A9E2F3; // for buildinprogress
 	background-color: #F8F139;  // for testing
	padding-left: 20px;
	padding-right:20px;
	height:40px;
	a{
		font-weight:bold;
		font-family: "Open Sans", 'verdana';
	}
	img{
		margin-top: -2px;
	}
}

.navbar .brand{
	margin-left:5px;
}

.row{
	margin-left: 0;
	margin-bottom:0;
}

.fullRow{
	height:100%;
	min-height:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:38px;
}

// Build-in Progress Styling

.content{
	margin-top: 40px;
	height:100%;
}

.label{
	font-family: "Helvetica"
}

a.brand{
	font-size:large;
	font-weight:bold;
}

// Process Map styles //

#processMap{
	width: 410px;
	font-size: medium;
	float:left;
	color: #000;
	margin: 4px 5px 0px 5px;
	position:relative;
	.processMapButtons{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 50;
		width: 40px;
	}
}

.addStepIcon{
	border-radius: 4px 4px 0 0;
}

// preview window for steps
#preview{
	position:absolute;
	width:100px;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}

.handle{
	padding-top: 5px;
	width:5px;
}

.fa-resize-vertical{
	color: #A4A4A4;
}

.fa-resize-vertical:hover{
	color: #000;
}


.newBranchNode{
	margin-left:$stepWidth+1;
	margin-top:-25px;
}

.static_branch{
	.description, .descriptionBranch{
		text-align:left;
		font-size: x-small;
		text-overflow: ellipsis;
	    overflow: hidden;
	    white-space:nowrap; 
	    margin-left:5px;
	    float:left;
	    width:120px;
	}
}

.descriptionBranch{
	text-align:right;
    margin-left:170px;
    margin-top:-22px;
    float:left;
}

.newStepRow {
	width:50px;
}

.processMapTitleBar{
	margin: 0px 10px;
	display: inline;
	text-decoration:none;
	float: left;
	margin-top: -10px;
	width: 100%;

	.processMapTools{
		position: relative;
	}
	.btn{
		margin-right: -8px;
		width: 100%;
	}
	.reorderIcon img{
		width: 14px;
	}
}

#reorderInstructions, .new_step_instructions{
	font-size: small;
	width:187px;
	color: #686868;
	position: absolute;
	top: 9px;
	left: 98px;
	height: 10px;
	line-height: 10px;
	text-align:center;
	border-radius: 10px;
	background: white;
	padding: 10px;
}

.new_step_instructions{
	width: 294px;
	top: 0px;
	left: 0px;
}

#reorderButtons{
	margin-top: 5px;
	background: #CCC;
	padding: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.icons{
	margin: 8px 3px 10px 3px;

}

#icons:hover{
	background: #FFFF00;
}

.fa-pencil{
	vertical-align: middle;
}

#stepTable, #chart{
	width:95%;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	overflow:auto;
	margin-bottom: 1px;
	position:relative;
	float: left;
	display: inline;
	margin-left: 10px;

	div.step{
		height:25px;
		width:$stepWidth;
		margin:0px 0px;
	}
	div.branchRow{
		height:27px;
		width:$stepWidth;
		margin-top:-2px;
	}
}

.zoom-fa fa-group{
	display: none;
	.btn{
		// background: transparent;
		// border: none;
		// box-shadow: none;
	}
	.btn:focus{
		// outline-color: #F2F2F2;
	}
	.btn:hover{
		// z-index: 0;
		// background: #fcfcfc;
	}
}

.dot{
  display:block;
  width:15px;
  height:15px;
  border-radius:30px;
  border: $branchLineBorder solid #999;
  color:#fff;
  line-height:100px;
  background:#CCCCCC;
  text-align: center;
  vertical-align: middle;		
}

.currentDot{
  display:block;
  width:15px;
  height:15px;
  border-radius:50px;
  border: $branchLineBorder solid #999;
  color:#FFFF00;
  background:#FFFF00;
  text-align: center;
  vertical-align: middle;		
}
	
.dot:hover{
	background:#FFFF00;
}

.currentDot:hover{
	background:#FFFF00;
}

.branchedStep{
	margin-left:$stepWidth;
}

.branch{
	height: 100%;
	width: $branchLineBorder;
	background: #CCCCCC;
	text-align: center;
	margin-left:9px;
	margin-top:-2px;
}


.branchPreview{
	border-top: $branchLineBorder solid #CCC;
	height:2px;
	margin-left:10px;
	width:35px;
	margin-top:-15px;
	background-image: none !important ;
}

.horizontalBranchPreview, .horizontalBranch{
	margin-left:45px;
	margin-top:-6px;
	height: 18px;
	width: 119px;
	border-top: $branchLineBorder dotted #CCCCCC;
}

.horizontalBranch{
	border-top: $branchLineBorder solid #CCCCCC;
}


.verticalBranchPreview, .verticalBranch{
	width:15px;
	height:75px;
	margin-left: 160px;
	margin-top:-18px;
	border-left: $branchLineBorder dotted #CCCCCC;
}

.verticalBranch{
	border-left: $branchLineBorder solid #CCCCCC;
}

.dashedBranch, .solidBranch{
	height: 25px;
	width: 6px;
	margin-left:9px;
	margin-top:-2px;
	border-left: $branchLineBorder dotted #CCCCCC;
}

.solidBranch{
	border-left: $branchLineBorder solid #CCCCCC;
}

.addNewStep{
	margin-left:5px;
	width: 70px;
}

#nav{
	height:30px; 
	float:right; 
	padding:10px 0px 0px 0px;
	text-align:right;
}

.popUp{
	width:200px;
	height: 300px;
}

#processMapSaved{
	font-size:small;
	background: #00B88A;
	margin-top: 5px;
	color: #fff;
	padding-bottom:10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 5px;
}

#saved{
	font-size:small;
	color: #7C7B7B;
	position:absolute;
	top:10px;
	right:10px;
}

#imageUploadProgress .upload{
	margin-top:-10px;
}