<% title "About | #{ENV['APP_NAME']}" %>
<div class="fullRow" style="margin-top:50px;width:940px">
	<div class="centeredContainer aboutPage">
		<h3 style="margin: 30px 0px 30px 50px;"> About <span style="color: #08C"><%= ENV['APP_NAME'] %></span> </h3>
		
		<div class="aboutText">

			<div style="width: 700px; height: 400px; border: 1px solid #ccc; margin: 0 auto;">
			</div>

			<p style="width: 710px; margin-left: 104px; margin-right: auto; text-align: center">Description of <%= ENV['APP_NAME'] %> here. </p>

			<hr>
				<div class="container marketing">
			      <!-- Three columns of text below the carousel -->
			      <div class="row">
			        <div class="span4">
			         <div style="width: 125px; height: 125px; border: 1px solid #ccc; margin: 0 auto;"></div>
			          <h4>Point 1</h4>
			          <p>Description of Point 1 goes in this section</p>
			        </div><!-- /.col-lg-4 -->

			        <div class="span4">
  			         <div style="width: 125px; height: 125px; border: 1px solid #ccc; margin: 0 auto;"></div>
			          <h4>Point 2</h4>
			          <p>Description of Point 2 goes in this section</p>
			        </div><!-- /.col-lg-4 -->

			        <div class="span4">
					  <div style="width: 125px; height: 125px; border: 1px solid #ccc; margin: 0 auto;"></div>
			          <h4>Point 3</h4>
			          <p>Description of Point 3 goes in this section</p>
			        </div><!-- /.col-lg-4 -->
			      </div><!-- /.row -->
			    </div>
		    <hr>
		
		</div>

	</div>
</div>