<div class="fullRow" style="margin-top:50px;width:940px">
	<div class="centeredContainer aboutPage">
		<h3 style="margin-left: 50px;"> About <span style="color: #08C">Build in Progress</span> </h3>
		
		<div class="aboutText">
		
			<iframe src="//player.vimeo.com/video/78584412?title=0&amp;byline=0&amp;portrait=0" width="700" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		
			<p style="width: 710px; margin-left: 104px; margin-right: auto; text-align: center">Build in Progress is a platform to document and share your DIY Projects as they're being developed.  We showcase and celebrate the trials and errors that naturally occur throughout the design process!</p>

			<hr>
				<div class="container marketing">
			      <!-- Three columns of text below the carousel -->
			      <div class="row">
			        <div class="span4">
			          <%= image_tag("about/process.png") %>
			          <h4>Process Over Product</h4>
			          <p>Share the development of your project as you're building it, including both what worked and what didn't work.</p>
			        </div><!-- /.col-lg-4 -->

			        <div class="span4">
					  <%= image_tag("about/stories.png") %>
			          <h4>Stories, Not Recipes</h4>
			          <p>Build in Progress is not about creating instructions. It's about sharing the journey of how you created your design.</p>
			        </div><!-- /.col-lg-4 -->

			        <div class="span4">
					  <%= image_tag("about/remixes.png") %>
			          <h4>Remix and Mod</h4>
			          <p>If you're inspired by another project on the site, build off it by remixing it. Personalize it, and share what you modify!</p>
			        </div><!-- /.col-lg-4 -->
			      </div><!-- /.row -->
			    </div>
		    <hr>

			<p style="text-align: center;">Build in Progress is being developed at the <a href="http://media.mit.edu/" target="_blank">MIT Media Lab</a> in the <a href="http://llk.media.mit.edu/" target="_blank">Lifelong Kindergarten Group</a>.</p>
		
		</div>

	</div>
</div>