<div class="fullRow" style="margin-top:60px; width:940px">

		<ul class="nav nav-list">
			<li class="nav-header"><a href="#install_android">install the Android App</a></li>
			<li><a href="#unknown_sources">1. Enable installation of non-Market apps</a></li>
			<li><a href="#download_apk">2. Download the APK</a></li>
			<li><a href="#install_apk">3. Install the app</a></li>
			<li class="nav-header"><a href="#check_android_version">Check your device's Android version</a></li>
		</ul>

	<div class="centeredContainer mobilePage instructionPage">
		<h3>Build in Progress Mobile App</h3>	
		<hr style="margin: 5px 0">
		<div class="helpText">

		<div class="subheading">
			Our Build in Progress mobile app lets you create, update, and view your projects on-the-go.  We currently have an Android app that is ready to use (the iOS app is under development). The app is not on the Google Play store, so if you would like to try it out, please follow these instructions for installing the app on your Android device.  
		</div>
		<div class="subheading">
			<b>We support Android devices with the Honeycomb OS (version 3.0) or newer.</b> To find out what version of Android your device is running, follow the <b><a href="#check_android_version" style="color:#08C">Check your device’s Android version instructions</a></b>. <b>You must also have a consistent internet connection to use the app.</b>
		</div>
		<hr style="margin: 5px 0">

		<h3 class="instruction_category" id="install_android">Install the Android App </h3>

		<h4><span id="unknown_sources"></span>1. Enable installation of non-Market apps </h4>
		<p class="description">You will need to enable the installation of non-Market apps to install the Build in Progress APK.</p>
		<%= image_tag "mobile/android/unknown_sources.png" %>

			<p class="description"><b>For Android OS Version 4.0 (Ice Cream Sandwich) and newer:</b></p>

			<ul>
				<li>Go to Settings.</li>
				<li>Go to Security.</li>
				<li>Check the “Unknown sources” box</li>
				<li>Tap "OK" when it shows a warning</li>
			</ul><br>

			<p class="description"><b>For Android Version 3.0 (Honeycomb): </b></p><br>

			<ul>
				<li>Go to Settings.</li>
				<li>Go to Applications.</li>
				<li>Scroll down and check the “Unknown sources” box</li>
				<li>Tap "OK" when it shows a warning</li>
			</ul>

		<div class="clear"></div>
		<hr>

		<h4><span id="download_apk"></span>2. Download the APK</h4>
		<p class="description">Open up the browser on your Android device and download the Build in Progress APK here:</p>
		<p style="font-weight:bold; font-size: medium;" class="description"><a href ="https://s3.amazonaws.com/buildinprogress/Build-in-Progress-Android.apk" style="color: #08C; text-decoration: underline">Build in Progress Android App Installer</a></p>
		<div class="clear"></div>
		<hr>

		<h4><span id="install_apk"></span>3. Install the app</h4>
		<p class="description">Locate the downloaded file and select it.  If prompted, select the package installer and click “Just once”</p>
		<%= image_tag "mobile/android/package_installer.png" %>
		<p class="description">After you wait for the installer to do its magic, the app should be ready to use.  Happy documenting!</p>
		<div class="clear"></div>			
		<hr>

		<h3 class="instruction_category" id="check_android_version">Check Android Version</h3>
		<p class="description">
			<ul>
				<li>Go to Settings.</li>
				<li>Go to About Phone/Device, usually at the bottom of the Settings menu</li>
				<li>Scroll until you see the Android version</li>
			</ul><br>
		</p>
		<%= image_tag "mobile/android/android_version.png" %>

		<div class="clear"></div>
		<hr>
		</div>
	</div>

</div>