<% title "Privacy Policy | #{ENV["APP_NAME"]}" %>
<div class="fullRow" style="margin-top:50px;width:940px">
	<div class="centeredContainer" style="padding: 30px">
		<div class="textContainer" style="margin: 0px 50px">
		<h2 style="margin-bottom: 20px;">Privacy Policy</h2>

			<p>Intro about privacy policy goes here.</p>

			<br>

			<h4>What information do we collect?</h4>
			
			<h4>How do we use your information?</h4>

			<h4>How do we protect your information?</h4>

			<h4>Notifications of changes to the Privacy Policy</h4>
			
		</div>
	</div>
</div>