<% # Format the author byline for projects show on the site%>
<%= project.users.order("username ASC").map { |u| "<a href='#{user_path(u)}'>#{u.username}</a>" }.to_sentence.html_safe %>

<% if source == "remix" %>
	<script type="text/javascript">
		$('.author_link').addClass('remix_project_author');
		$('.author_link').removeClass('.author_link');
	</script>
<% end -%>