<!DOCTYPE html>
<html>
<head>
  <title>Build in Progress</title>
</head>

<body>
    <div class ="navbar">
      <%= link_to image_tag("build_in_progress_logo.png"), home_index_path, :class=> "brand logo" %>
      <ul class="nav">
				<li><%=link_to "Explore", projects_path %></li>
	  </ul>	
    </div>
    
  <div class="error_container">
  	<h3>Looks like this page doesn't exist!</h3>
  	<p>If you think you've found an error, please report it using our <%= link_to contact_path do %> contact form.<% end %>
  </div>


</body>
</html>
