<!DOCTYPE html>
<html>
<head>
  <title><%= ENV["APP_NAME"] %></title>
</head>

<body>
    <div class ="navbar">
      <%= link_to image_tag("build_in_progress_logo.png"), home_index_path, :class=> "brand logo" %>
    </div>
    
  <div class="error_container">
  	<h3>Oops, something went wrong!</h3>
  	<p>Please help us out by reporting this error using our <%= link_to contact_path do %> contact form.<% end %></p>
  </div>


</body>
</html>
