<%=content_tag_for(:div, image) do %>
<div class="stepImage">
  <%= image_tag image.image_path_url(:thumb) if image.image_path? %>
  <div class="actions">
    <p style="text-align: center;">
    	<% if image.has_video? %>
    	    <%= link_to image, :method => :delete, :confirm=> "Are you sure you want to delete this video?", :remote => true, :class=> "btn btn-mini trash-o" do %>
				 <i class="fa fa-trash-o"></i>
    		<% end %>
    	<% else %>
    	    <%= link_to image, :method => :delete, :confirm=> "Are you sure you want to delete this photo?", :remote => true, :class=> "btn btn-mini trash-o" do %>
       				 <i class="fa fa-trash-o"></i>
    		<% end %>
    	<% end %>
  </p>
  </div>
  <% if image.has_video? %>
  <% # draw small video icon over image to indicate that it's a video %>
  <div class="videoIcon">
    <i class="fa fa-film"></i>
  </div>

  <% end %>
</div>
<% end %>
